# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store

# Secrets
config.txt
cookies.sqlite
cookies.sqlite.enc

# Downloaded binaries
yt-dlp_linux

# Downloads and media
*.webm
*.mp4
*.m4a
*.mp3

